Repository probabl-ai/skore: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-skore, ty-skore-hub-project, ty-skore-local-project

ty-skore:
  name: ty skore/
  entry: bash -c "cd skore && ty check --force-exclude ."
  language: python
  additional_dependencies:
  - ty
  pass_filenames: false

ty-skore-hub-project:
  name: ty skore-hub-project/
  entry: bash -c "cd skore-hub-project && ty check --force-exclude ."
  language: python
  additional_dependencies:
  - ty
  pass_filenames: false

ty-skore-local-project:
  name: ty skore-local-project/
  entry: bash -c "cd skore-local-project && ty check --force-exclude ."
  language: python
  additional_dependencies:
  - ty
  pass_filenames: false

non reg test
  skore/tests/unit/reports/cross_validation/metrics/test_numeric.py
Due: ty-skore

the fix, the fix of the same bug at another place, and another non-reg test
  skore/src/skore/_sklearn/_comparison/metrics_accessor.py
  skore/src/skore/_sklearn/_cross_validation/metrics_accessor.py
  skore/tests/unit/reports/comparison/cross_validation/metrics/test_numeric.py
Due: ty-skore

non-reg docstring
  skore/tests/unit/reports/cross_validation/metrics/test_numeric.py
Due: ty-skore

fix(skore): Don't create a tuple from a string for the cache key (#2456)
  skore/src/skore/_sklearn/_comparison/metrics_accessor.py
  skore/src/skore/_sklearn/_cross_validation/metrics_accessor.py
  skore/tests/unit/reports/comparison/cross_validation/metrics/test_numeric.py
  skore/tests/unit/reports/cross_validation/metrics/test_numeric.py
Due: ty-skore

fix(skore): Robustify normalization of X and y to a frame (`_retrieve_data_as_frame`) (#2440)
  skore/src/skore/_sklearn/_cross_validation/data_accessor.py
  skore/src/skore/_sklearn/_estimator/data_accessor.py
  skore/src/skore/_utils/_dataframe.py
  skore/tests/unit/displays/table_report/test_cross_validation.py
  skore/tests/unit/reports/estimator/data/test_accessor.py
Due: ty-skore

use cache and factory, add method docstring
  skore/src/skore/_sklearn/_cross_validation/inspection_accessor.py
  skore/src/skore/_sklearn/_estimator/inspection_accessor.py
  skore/src/skore/_sklearn/_plot/inspection/permutation_importance.py
Due: ty-skore

fix(skore): Add support for multioutput regression in prediction error display (#2434)
  skore/src/skore/_sklearn/_plot/metrics/prediction_error.py
  skore/tests/unit/displays/prediction_error/conftest.py
  skore/tests/unit/displays/prediction_error/test_common.py
  skore/tests/unit/displays/prediction_error/test_comparison_cross_validation.py
  skore/tests/unit/displays/prediction_error/test_comparison_estimator.py
  skore/tests/unit/displays/prediction_error/test_cross_validation.py
  skore/tests/unit/displays/prediction_error/test_estimator.py
Due: ty-skore

first step, most tests are passing (?)
  skore/src/skore/_sklearn/_comparison/metrics_accessor.py
  skore/src/skore/_sklearn/_cross_validation/metrics_accessor.py
  skore/src/skore/_sklearn/_estimator/metrics_accessor.py
  skore/src/skore/_utils/_cache_key.py
  skore/tests/unit/reports/estimator/metrics/test_numeric.py
  skore/tests/unit/utils/test_cache_key.py
Due: ty-skore

fix(skore-hub-project): Raise earlier an error when pos_label not provided before serialization (#2436)
  skore-hub-project/src/skore_hub_project/project/project.py
  skore-hub-project/src/skore_hub_project/protocol.py
  skore-hub-project/tests/conftest.py
  skore-hub-project/tests/unit/project/test_project.py
Due: ty-skore-hub-project

fix(skore/configuration): Make the configuration inheritable between threads
  skore/src/skore/__init__.py
  skore/src/skore/_config.py
Due: ty-skore

fix
  skore/src/skore/_config.py
  skore/src/skore/_sklearn/_cross_validation/metrics_accessor.py
  skore/src/skore/_sklearn/_cross_validation/report.py
  skore/src/skore/_sklearn/_estimator/report.py
  skore/src/skore/_sklearn/_plot/base.py
  skore/src/skore/_utils/_parallel.py
  skore/src/skore/_utils/_progress_bar.py
  skore/tests/conftest.py
  skore/tests/unit/test_config.py
Due: ty-skore

fix(skore): Improve error message if missing skore-hub-project
  skore/src/skore/_login.py
  skore/tests/unit/test_login.py
Due: ty-skore

add additional return line
  skore/src/skore/_login.py
Due: ty-skore

cleanup & use .get
  skore/src/skore/_sklearn/_comparison/metrics_accessor.py
  skore/src/skore/_sklearn/_cross_validation/metrics_accessor.py
  skore/src/skore/_sklearn/_estimator/inspection_accessor.py
  skore/src/skore/_sklearn/_estimator/metrics_accessor.py
  skore/src/skore/_utils/_cache_key.py
Due: ty-skore

done
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  skore-hub-project/pyproject.toml
  skore-local-project/pyproject.toml
  skore/pyproject.toml
  skore/tests/unit/sklearn/test_utils.py
Due: ty-skore, ty-skore-hub-project, ty-skore-local-project

removed space
  skore/tests/unit/sklearn/test_utils.py
Due: ty-skore

fix(skore): Do not start matplotlib GUI in non-main thread
  skore/src/skore/_sklearn/_plot/base.py
Due: ty-skore

fix tests
  skore/src/skore/_config.py
  skore/tests/unit/test_config.py
  skore/tests/unit/test_init.py
  skore/tests/unit/utils/test_progress_bar.py
Due: ty-skore

sphinx
  sphinx/reference/index.rst
  sphinx/reference/utils.rst
Due: none

fix(hub): replace TypeError(None) with explicit validation for missing test data
  skore-hub-project/src/skore_hub_project/project/project.py
  skore-hub-project/tests/unit/project/test_project.py
Due: ty-skore-hub-project

Updated
  skore/tests/unit/sklearn/test_utils.py
Due: ty-skore

fix(skore): Do not catch exception in cross-validation fitting
  skore/src/skore/_sklearn/_cross_validation/report.py
  skore/tests/unit/reports/cross_validation/test_report.py
Due: ty-skore

remove redundant test
  skore/tests/unit/reports/cross_validation/test_report.py
Due: ty-skore

api(skore): Introduce None/'default' threshold for ConfusionMatrixDisplay.frame
  skore/src/skore/_sklearn/_plot/metrics/confusion_matrix.py
  skore/tests/unit/displays/confusion_matrix/test_common.py
  skore/tests/unit/displays/confusion_matrix/test_comparison_cross_validation.py
  skore/tests/unit/displays/confusion_matrix/test_comparison_estimator.py
  skore/tests/unit/displays/confusion_matrix/test_cross_validation.py
  skore/tests/unit/displays/confusion_matrix/test_estimator.py
Due: ty-skore

fix: Handle pandas Timestamp serialization in TableReport
  skore-hub-project/src/skore_hub_project/artifact/media/data.py
Due: ty-skore-hub-project

fix(skore): Fix _verbose_name and add aggregate parameter to inspection displays
  skore/src/skore/_sklearn/_comparison/inspection_accessor.py
  skore/src/skore/_sklearn/_cross_validation/inspection_accessor.py
  skore/src/skore/_sklearn/_estimator/inspection_accessor.py
  skore/src/skore/_sklearn/_plot/inspection/coefficients.py
  skore/src/skore/_sklearn/_plot/inspection/impurity_decrease.py
Due: ty-skore

fix: Change _verbose_name from 'feature_importance' to 'inspection'
  skore/src/skore/_sklearn/_comparison/inspection_accessor.py
  skore/src/skore/_sklearn/_cross_validation/inspection_accessor.py
  skore/src/skore/_sklearn/_estimator/inspection_accessor.py
Due: ty-skore

test: Add non-regression test for inspection accessor _verbose_name
  skore/tests/unit/utils/test_accessors.py
Due: ty-skore

feat: Add aggregate parameter to inspection displays - Fixes #2444
  skore/src/skore/_sklearn/_plot/inspection/coefficients.py
  skore/src/skore/_sklearn/_plot/inspection/impurity_decrease.py
Due: ty-skore

refactor(skore): Remove _verbose_name in favor of using registered named from accessor
  skore/src/skore/_externals/_pandas_accessors.py
  skore/src/skore/_sklearn/_base.py
  skore/src/skore/_sklearn/_comparison/inspection_accessor.py
  skore/src/skore/_sklearn/_cross_validation/data_accessor.py
  skore/src/skore/_sklearn/_cross_validation/inspection_accessor.py
  skore/src/skore/_sklearn/_estimator/data_accessor.py
  skore/src/skore/_sklearn/_estimator/inspection_accessor.py
  skore/src/skore/_utils/_testing.py
  skore/src/skore/_utils/repr/data.py
  skore/tests/unit/utils/test_testing.py
Due: ty-skore

refactor(skore): Introduce _report_type to avoid hard coding when needed
  skore-local-project/src/skore_local_project/metadata.py
  skore/src/skore/_sklearn/_base.py
  skore/src/skore/_sklearn/_comparison/inspection_accessor.py
  skore/src/skore/_sklearn/_comparison/metrics_accessor.py
  skore/src/skore/_sklearn/_comparison/report.py
  skore/src/skore/_sklearn/_cross_validation/inspection_accessor.py
  skore/src/skore/_sklearn/_cross_validation/metrics_accessor.py
  skore/src/skore/_sklearn/_cross_validation/report.py
  skore/src/skore/_sklearn/_estimator/inspection_accessor.py
  skore/src/skore/_sklearn/_estimator/metrics_accessor.py
  skore/src/skore/_sklearn/_estimator/report.py
  skore/src/skore/_utils/_accessor.py
Due: ty-skore, ty-skore-local-project

import Literal
  skore-local-project/src/skore_local_project/metadata.py
Due: ty-skore-local-project

refactor(skore): Rename estimator_reports_ to reports_ in CrossValidationReport
  examples/use_cases/plot_employee_salaries.py
  skore-hub-project/src/skore_hub_project/artifact/pickle/pickle.py
  skore-hub-project/src/skore_hub_project/project/project.py
  skore-hub-project/src/skore_hub_project/protocol.py
  skore-hub-project/src/skore_hub_project/report/cross_validation_report.py
  skore-hub-project/tests/unit/report/test_cross_validation_report.py
  skore-hub-project/tests/unit/report/test_estimator_report.py
  skore-local-project/tests/unit/test_project.py
  skore/src/skore/_sklearn/_comparison/inspection_accessor.py
  skore/src/skore/_sklearn/_comparison/metrics_accessor.py
  skore/src/skore/_sklearn/_cross_validation/inspection_accessor.py
  skore/src/skore/_sklearn/_cross_validation/metrics_accessor.py
  skore/src/skore/_sklearn/_cross_validation/report.py
  skore/src/skore/_utils/_accessor.py
  skore/tests/unit/displays/impurity_decrease/test_cross_validation.py
  skore/tests/unit/displays/metrics_summary/test_cross_validation.py
  skore/tests/unit/reports/cross_validation/test_report.py
  skore/tests/unit/utils/test_accessors.py
  sphinx/user_guide/reporters.rst
Due: ty-skore, ty-skore-hub-project, ty-skore-local-project

fix tests
  skore/tests/unit/displays/confusion_matrix/test_common.py
Due: ty-skore

docs(skore): Fix a wrong find/replace for feature_importance
  skore/src/skore/_sklearn/_estimator/inspection_accessor.py
Due: ty-skore

docs(skore): Minor tweaks in getting started example
  examples/getting_started/plot_getting_started.py
Due: none

docs(skore): Small tweaks in the getting started
  examples/getting_started/plot_getting_started.py
Due: none

committing after saving is working better
  examples/getting_started/plot_getting_started.py
Due: none

docs(skore): Short example to explain the takes on the Skore API
  examples/technical_details/plot_skore_api.py
Due: none

docs(skore): Add small example to illustrate the usage of the skore Project locally
  examples/technical_details/plot_skore_project.py
Due: none

Path conditions:
  ty-skore: any of: ^skore/
  ty-skore-hub-project: any of: ^skore-hub-project/
  ty-skore-local-project: any of: ^skore-local-project/
